
           body{
                background: #ccc;
           }
           #Header a:hover{
                color: #FFF;
           }
           #bg-img{
                background: url('..\img\backgroundpic2.jpg');
                background-size: 100%;
                background-repeat: no-repeat;
                min-height: 500px;
           }
    
           